{%extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title%}{{title}}{%endblock%}

{%block content%}

<div class="container content-body">

  <div class="side-menu">
    <div class="subject-box">
      <p class="subject-text"> MENU </p>
    </div>

    <div class="item-box">
      <a href="{% url 'exp' %}" class="item-text">Nova execução</a>
    </div>
    <div class="bottom-box">
      <a href="{% url 'example' %}" class="item-text">Exemplos</a>
    </div>
    <div class="secondary-box item-box secondary-title">
     Execuções
    </div>

    {% if request.user.is_superuser %}
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="secondary-box item-box">
        <input type="submit" name="showOpt" value="Todas" class="btn-custom item-text" />
      </div>
      <div class="secondary-box item-box">
        <input type="submit" name="showOpt" value="Minhas" class="btn-custom item-text" />
      </div>
    </form>  
    {% endif %}
    <form id="formRemove" method='POST' action='{% url 'removeList' title %}' enctype="multipart/form-data">
      {% csrf_token %}
      <div class="secondary-box item-box">
      <input type="submit" id="btExcluir" class="btn-custom item-text" value="Excluir Seleção">
      </div>
    </form>
  </div>

  <div class="content-main">
  
    {% if messages %}
    <ul id='msg-box'>
      {% for message in messages %}
      <li class="alert alert-{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} 

    <div class="table-responsive"> 
    {% if data != None %}  
    <table class="table table-striped table-bordered text-center table-condensed">
      
      <thead>
        <tr>
          <th><input class="checkHeader" type="checkbox" value=""></th>
          <th>ID</th>
          
          {% if request.user.is_superuser %}
          <th>Usuário</th>
          <th>Visivel</th>
          {% endif %}
          
          <th data-align="center">Data Requisição</th>
          <th data-align="center">Status</th>

          <th>Algoritmo</th>
          <th>Tempo</th>
          <th>Arquivo Entrada</th>
          <th>Arquivo Saída</th>
        </tr>
      </thead>

      <tbody id="tableSel">

      {%for exp in data%}
        {% if request.user.is_superuser or exp.visible == 'yes' %}

        <tr>
          <td><input type="checkbox" value="{{exp.id}}"></td>
          <td>{{exp.id}}</td>

          {% if request.user.is_superuser %}
          <td>{{exp.request_by}}</td>
          <td>{{exp.visible}}</td>
          {% endif %}

          <td>{{exp.date_requisition}}</td>
          <td>
          {%if exp.status == 1%}
            Aguardando
          {%elif exp.status == 2%}
              Executando
          {%elif exp.status == 3%}
              Finalizado        
          {%endif%}
          </td>

          <td>{{exp.algorithm}}</td>
          <td>
          {%if exp.time == -1 %}
            -
          {%else%}
            {{exp.time|floatformat:-4}} s
          {%endif%}
          </td>

          <td>
          {% if exp.inputFile%}
          <a  href="{% url 'downloadInputFile'%}?id={{exp.id}}"><button type="button" class="btn btn-success">Download</button></a>
          {% else %}
          <button type="button" class="btn btn-warning disabled">Download</button>
          {% endif %}
          </td>

          <td>
          {% if exp.outputFile %}
          <a  href="{% url 'downloadOutputFile'%}?id={{exp.id}}"><button type="button" class="btn btn-success">Download</button></a>
          {% else %}
          <button type="button" class="btn btn-warning disabled">Download</button>
          {% endif %}
          </td>

        </tr>

        {% endif %}
      {% endfor %}
      
      </tbody>
    </table>
    </div>
    
    {% else %}
    <div class='container'>
      <div class="content-main">
        <p class=content-title>
          Vazio!
        </p>
        <p class="content-text">
          Você ainda não executou nenhum experimento.
        </p>
      </div>
    </div>

    {% endif %}

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <ul class="pagination">
        {# CASO SEJA A PRIMEIRA PAGINA #}
          {% if data.has_previous %}
          <li>
            <a href="?page={{ data.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li> 
          {% else %}
          <li class="disabled">
            <span aria-hidden="true">&laquo;</span>
          </li>
          {% endif %}

          {% for page, value in pagesIndex.items %}
              {% if value > 0 %}
                {% if page == 2 %}
                <li class='active'><a href="#">{{value}}</a></li>
                {%else%}
                <li><a href="?page={{value}}">{{value}}</a></li>
                {% endif %}
              {%endif%}
          {% endfor %}

          
          {% if data.has_next %}
          <li>
            <a href="?page={{ data.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          {% else %}
          <li class="disabled">
            <span aria-hidden="true">&raquo;</span>
          {% endif %}
          </li>
          
        </ul>
      </ul>
    </nav>
  </div>
</div>
{%endblock%}
          
          
          
          
        


