{%extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block title%}Perfil{%endblock%}

{%block content%}

<div class="row">
  <div class = "col-sm-12 col-md-12 text-center">
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th colspan="2">Meu Perfil &nbsp <a href="{% url 'editProfile' request.user  %}" class="btn btn-default btn-sm">Editar</a></th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Usuário</td>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <td>Nome</td>
          <td>{{user.appuser}}</td>
        </tr>
        <tr>
          <td>Instituição</td>
          <td>{{appUser.company}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td>Notificação por email</td>
          {% if appUser.notification == 'yes' %}
          <td>Sim</td>
          {% else %}
          <td>Não</td>
          {% endif %}
        </tr>
        <tr>
          <td>Senha</td>
          <td><a href="{% url 'auth_password_change' %}" class="btn btn-default btn-sm">Alterar senha</a></td>
        </tr>
        </tbody>
    </table>
    
   

  </div>
</div>
{% endblock %}