{%extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block title%}Perfil{%endblock%}

{%block content%}

<div class="row">
  <div class = "col-sm-12 text-center padding">
    <table class="table table-striped table-bordered">
        <thead>
          <th colspan="2">Meu Perfil &nbsp </th>
        </thead>
        <tbody>
        <tr>
          <td>Usuário</td>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <td>Senha</td>
          <td><a href="{% url 'auth_password_change' %}" class="btn btn-default btn-sm">Alterar senha</a></td>
        </tr>
        <tr>
          <td>Nome</td>
          <td>{{user.appuser}}</td>
        </tr>

        <form method="POST" action="{% url 'saveProfile' request.user %}" enctype="multipart/form-data">
        {% csrf_token %}

          <tr>
            <td>Instituição</td>
            <td>{{form.company}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{form.email}}</td>
          </tr>
          <tr>
            <td>Notificação por email</td>
            <td>{{form.choice}}</td>
          </tr>
          <tr>
            <td colspan="2"> <input type="submit" class="btn btn-default btn-sm" value="Salvar"></td>
          </tr>
        </form>

        </tbody>
    </table>
  </div>
</div>
{% endblock %}