{%extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title%}{{title}}{%endblock%}

{% block content %}

<div class='row'>
	<div class='padding'>
		<form method="POST" action="{% url 'saveProfile' authUser %}" enctype="multipart/form-data">
		{% csrf_token%}
		<h3>{{authUser}}</h3>
		{{appUserForm.nickname | as_crispy_field}}
		{{userForm.email | as_crispy_field}}
		{{appUserForm.choice | as_crispy_field}}
		{{appUserForm.company | as_crispy_field}}
		{{userForm.is_active | as_crispy_field}}
		{{userForm.is_staff | as_crispy_field}}
		{{appUserForm.resultsPerPage | as_crispy_field}}

	    <input type="submit" id="btExcluir" class="btn btn-default btn-sm" value="Salvar">
		</form>
	</div>
</div>
{%endblock%}