{%extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title%}{{title}}{%endblock%}

{% block content %}

{% if request.user.is_superuser %}

<div class='container content-body'>

	<div class="content-main">
		<p class="content-title">
		Editar usuário: {{authUser}}
		</p>

		<div class='padding'>
			<form method="POST" action="{% url 'saveProfile' authUser %}" enctype="multipart/form-data">
			{% csrf_token%}
			{{appUserForm.nickname | as_crispy_field}}
			{{passwdForm | crispy }}
			{{userForm.email | as_crispy_field}}
			{{appUserForm.choice | as_crispy_field}}
			{{appUserForm.company | as_crispy_field}}
			{{userForm.is_active | as_crispy_field}}
			{{userForm.is_staff | as_crispy_field}}
			{{appUserForm.resultsPerPage | as_crispy_field}}

		    <input type="submit" id="btExcluir" class="btn btn-default btn-sm" value="Salvar">
			</form>
		</div>
	</div>
</div>

{% else %}

<div class='row'>
Não possui acesso
</div>

{% endif %}

{%endblock%}