{%extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block title%}{{title}}{%endblock%}


{%block content%}

{% if request.user.is_superuser %}

<div class='container content-body'>
	<div class="content-main">

		<p class="content-title">
		Editar algoritmo
		</p>
		<div class="padding">
			<form method="POST" action="{% url 'updateAlgorithm' idAlg %}" enctype="multipart/form-data">
				{% csrf_token %}	
				<fieldset disabled="disabled"> {{form.nameAlg | as_crispy_field}} </fieldset>
				{{form.desc | as_crispy_field}}
				{{form.sample | as_crispy_field}}
				{{form.file | as_crispy_field}}

				<input type="submit" class="btn btn-default btn-sm" value="Salvar">
			</form>
		</div>
	</div>
</div>

{% else %}

<div class='container'>
	<div class="content-main">
		<p class=content-title>
			Acesso negado!
		</p>
	    <p class="content-text">
	      Você não possui autorização para acessar essa página.
	    </p>
    </div>
</div>

{% endif %}

{%endblock%}