
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
form{
	display: inline;
}

#hlpAlg{
	display: none;
}

#hlpAlg table, th, td{
	padding: 8px;
	margin: 10px;
	border: 1px solid black;
}

#showDesc{
	padding: 0px 0px 10px 0px;
	float: right;
}

#highlight{
	color:white;
}

#highlight:hover{
	color:#6db1ff;
}

#msg-box{
	list-style-type: none;
}

.padding{
	padding: 1% 25%
}

.md-padding{
	padding: 1% 8%;
}

.sm-padding{
	padding: 0% 0% 1%;
}

.btn-right{
	float: right;
}

.btn-left{
	float: left;
}